<h2>hello</h2>

  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div>
        <%= list.name %>
      </div>
    <% end %>
  <%end%>


  <button class="btn-ace mt-3">
    <%= link_to "Créer une list", new_list_path, style: "color: blue"  %>
  </button>
